<h1>Editing Custom Field</h1>

<%= render 'form' %>

<%= link_to 'Show', program_custom_field_path(@program, @custom_field) %> |
<%= link_to 'Back', program_custom_fields_path(@program, @custom_field) %>
