<div class="container">
<h1 class="text-center">Unlimited Access To Courses</h1>
<center>
<% if current_user.admin? %>
	 <%= form_tag subscribetocourses_path, :class => '' do %>
		<button class="btn btn-primary btn-lg">Free Admin Access</button>
	 <% end -%>
<% else %>
	<%= render 'form' %>
<% end -%>
</center>
</div>