<h1>User Cancellation</h1>

<p><%= "#{@user.first_name} #{@user.last_name}" %> just cancelled the IQ Tool.</p>

<ul>
	<li>Phone: <%= @user.phone_number %></li>
	<li>Email: <%= @user.email %></li>
</ul> 