    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">About
                    <small>CCSalesPro</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a>
                    </li>
                    <li class="active">About</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Intro Content -->
        <div class="row">
            <div class="col-md-6">
                <%= image_tag('Success_1.jpg', :class => 'img-responsive') %>
            </div>
            <div class="col-md-6">
                <h2>About CCSalesPro</h2>
                <p>At CCSalespro, our mission is to enable sales professionals for success. To achieve our mission, we have provided some of the most extensive training for sales professionals, as well as provide innovative new tools to help sales professionals close more deals. More than 2,000 sales professionals have gone through our training. We are excited about the future of sales and hope we can help you become a more successful sales professional! Have a great day in the field!</p>
            </div>
        </div>
        <!-- /.row -->

        <!-- Team Members -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Social Media</h2>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    
                    <div class="caption">
                        <h3>Follow Us On Twitter<br>
                        </h3>
                        <ul class="list-inline">
                            <li><a href="https://twitter.com/ccsalespro" class=""><i class="fa fa-5x fa-twitter-square big"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Connect With Us On LinkedIn<br>
                        </h3>
                        <ul class="list-inline">
                            <li><a href="https://www.linkedin.com/company/9479901" class=""><i class="fa fa-5x fa-linkedin-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Like Us On Facebook<br>
                        </h3>
                        <ul class="list-inline">
                            <li><a href="https://www.facebook.com/ccsalespro" class=""><i class="fa fa-5x fa-facebook-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
        <!-- /.row -->

        <br>