

    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Blog
                </h1>
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a>
                    </li>
                    <li class="active">Blog Home Two</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Blog Post Row -->
        <div class="row">

            <div class="col-md-5">
                <a href="blog_post">
                    <%= image_tag('Success101 (Custom).jpg', :class => 'img-responsive') %>
                </a>
            </div>
            <div class="col-md-6">
                <h3>
                    <a href="blog_post">How To Make An Effective Presentation</a>
                </h3>
                <p>by <a href="https://twitter.com/salesprojames">James Shepherd</a>
                </p>
                <p>This is for credit card processing sales people who have already completed a cost analysis and are coming back to present the savings to the merchant. Here are several keys to giving an effective presentation which will help you close the deal.</p>
                <a class="btn btn-primary" href="blog_post">Read More <i class="fa fa-angle-right"></i></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        

        <!-- Pager -->
        <div class="row">
            <ul class="pager">
                <li class="previous"><a href="#">&larr; Older</a>
                </li>
                <li class="next"><a href="#">Newer &rarr;</a>
                </li>
            </ul>
        </div>
        <!-- /.row -->

        <hr>

      
    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
