
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Pricing
                    <small>Packages</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a>
                    </li>
                    <li class="active">Pricing</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-primary text-center bold">
                    <div class="panel-heading">
                        <h3 class="panel-title">IQ</h3>
                    </div>
                    <div class="panel-body">
                        <span class="price"><sup>$ </sup>99<sup>00</sup></span>
                        <span class="period">Per Month</span>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item lgi-custom">Individual Sales Professional</li>
                        <li class="list-group-item lgi-custom"><strong>Unlimited</strong> Instant Quotes</li>
                        <li class="list-group-item lgi-custom"><strong>Unlimited</strong> Programs</li>
                        <li class="list-group-item lgi-custom"><strong>Unlimited</strong> Processors</li>
                        <li class="list-group-item lgi-custom">Instant IC Breakdown</li>
                        <li class="list-group-item lgi-custom">Business Type Analysis</li>
                        <li class="list-group-item lgi-custom"><%= link_to('Sign Up', new_user_registration_path, :class => 'btn btn-primary') %>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-primary text-center bold">
                    <div class="panel-heading">
                        <h3 class="panel-title">IQ - Team </h3>
                    </div>
                    <div class="panel-body">
                        <span class="price"><sup>$ </sup>99<sup>00</sup></span>
                        <span class="period">Per Month/Per User</span>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item lgi-custom">Recruiter/Small Office</li>
                        <li class="list-group-item lgi-custom">Team Reporting</li>
                        <li class="list-group-item lgi-custom"><strong>Unlimited</strong> Instant Quotes</li>
                        <li class="list-group-item lgi-custom"><strong>Unlimited</strong> Programs</li>
                        <li class="list-group-item lgi-custom"><strong>Unlimited</strong> Processors</li>
                        <li class="list-group-item lgi-custom">Instant IC Breakdown</li>
                        <li class="list-group-item lgi-custom">Business Type Analysis</li>
                        <li class="list-group-item lgi-custom"><%= link_to("Contact Us", static_contact_path, :class => 'btn btn-primary') %>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-primary text-center bold">
                    <div class="panel-heading">
                        <h3 class="panel-title">IQ - ISO</h3>
                    </div>
                    <div class="panel-body">
                        <span class="price"><sup>$ </sup>129<sup>00</sup></span>
                        <span class="period">Per Month/Per User</span>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item lgi-custom">ISO/Registered Brand</li>
                        <li class="list-group-item lgi-custom"><strong>5</strong><i class="fa fa-plus pricing-fa" aria-hidden="true"></i> Users</li>
                        <li class="list-group-item lgi-custom">Team Reporting</li>
                        <li class="list-group-item lgi-custom">Custom Web App</li>
                        <li class="list-group-item lgi-custom">Custom Full Stack Website</li>
                        <li class="list-group-item lgi-custom"><strong>Unlimited</strong> Instant Quotes</li>
                        <li class="list-group-item lgi-custom"><strong>Unlimited</strong> Programs</li>
                        <li class="list-group-item lgi-custom"><strong>Unlimited</strong> Processors</li>
                        <li class="list-group-item lgi-custom">Instant IC Breakdown</li>
                        <li class="list-group-item lgi-custom">Business Type Analysis</li>
                        <li class="list-group-item lgi-custom">  <%= link_to("Contact Us", static_contact_path, :class => 'btn btn-primary') %>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <hr>



    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
