
    <!-- Page Content -->
    <div class="container"></br></br>

        <!-- Content Row -->
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-primary text-center bold">
                    <div class="panel-heading">
                        <h2 class="panel-title">IQ - Individual</h2>
                    </div>
                    <div class="panel-body">
                        <span class="price"><sup>$ </sup>99<sup>00</sup></span>
                        <span class="period">Per Month</span>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item lgi-custom price-info"><h2><b>Individual User</b></h2></li>
                        <li class="list-group-item lgi-custom price-info"><strong>Unlimited</strong> Instant Quotes</li>
                        <li class="list-group-item lgi-custom price-info"><strong>Unlimited</strong> Programs</li>
                        <li class="list-group-item lgi-custom price-info"><strong>Unlimited</strong> Processors</li>
                        <li class="list-group-item lgi-custom price-info">Instant IC Breakdown</li>
                        <li class="list-group-item lgi-custom price-info">PDF Proposals</li>
                        <li class="list-group-item lgi-custom price-info">Prospecting CRM</li>
                        <li class="list-group-item lgi-custom price-info">10 Training Courses</li>
                        <li class="list-group-item lgi-custom price-info"><%= link_to('Free Trial', new_subscription_path, :class => 'btn btn-primary') %>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-primary text-center bold">
                    <div class="panel-heading">
                        <h2 class="panel-title">IQ - Team </h2>
                    </div>
                    <div class="panel-body">
                        <span class="price"><sup>$ </sup>99<sup>00</sup></span>
                        <span class="period">Per Month/Per User</span>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item lgi-custom price-info"><h2><b>Recruiter/Affiliate</b></h2></li>
                        <li class="list-group-item lgi-custom price-info">IQ - Individual +</li>
                        <li class="list-group-item lgi-custom price-info">User Invite Dashboard</li>
                        <li class="list-group-item lgi-custom price-info">White Label Training</li>
                        <li class="list-group-item lgi-custom price-info">Rep Activity Reports</li>
                        <li class="list-group-item lgi-custom price-info">Training Progress Report</li>
                        <li class="list-group-item lgi-custom price-info">Team Programs</li>    
                        <li class="list-group-item lgi-custom price-info">Revenue Share</li>
                        <li class="list-group-item lgi-custom price-info"><%= link_to('Free Trial', new_subscription_path, :class => 'btn btn-primary') %>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-primary text-center bold">
                    <div class="panel-heading">
                        <h3 class="panel-title">IQ - ISO</h3>
                    </div>
                    <div class="panel-body">
                        <span class="price"><sup>$ </sup>29<sup>00</sup></span>
                        <span class="period">Per Month/Per User <small>(blocks of 10)</small></span>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item lgi-custom price-info"><h2><b>ISO/Office</b></h2></li>
                        <li class="list-group-item lgi-custom price-info">Recruiter +</li>
                        <li class="list-group-item lgi-custom price-info">Detailed Reporting</li>
                        <li class="list-group-item lgi-custom price-info">Full Admin Privileges</br><small>(Manage Your Team)</small></li>
                        <li class="list-group-item lgi-custom price-info">Branded Programs</li>
                        <li class="list-group-item lgi-custom price-info">Branded Proposal</li>
                        <li class="list-group-item lgi-custom price-info">Branded Domain </br><small>(Additional cost)</small></li>
                        <li class="list-group-item lgi-custom price-info">  <%= link_to("Contact Us", new_internal_contact_path, :class => 'btn btn-primary') %>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <hr>



    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
