
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header pricing-top-margin">Pricing
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-primary text-center bold">
                    <div class="panel-heading">
                        <h3 class="panel-title">IQ - Individual</h3>
                    </div>
                    <div class="panel-body">
                        <span class="price"><sup>$ </sup>99<sup>00</sup></span>
                        <span class="period">Per Month</span>
                        <hr />
                        <span class="price"><sup>$ </sup>29<sup>00</sup></span>
                        <span class="period">Per Week</span>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item lgi-custom price-info">Individual Sales Professional</li>
                        <li class="list-group-item lgi-custom price-info"><strong>Unlimited</strong> Instant Quotes</li>
                        <li class="list-group-item lgi-custom price-info"><strong>Unlimited</strong> Programs</li>
                        <li class="list-group-item lgi-custom price-info"><strong>Unlimited</strong> Processors</li>
                        <li class="list-group-item lgi-custom price-info">Instant IC Breakdown</li>
                        <li class="list-group-item lgi-custom price-info">Business Type Analysis</li>
                        <li class="list-group-item lgi-custom price-info"><%= link_to('Free Trial', new_subscription_path, :class => 'btn btn-primary') %>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-primary text-center bold">
                    <div class="panel-heading">
                        <h3 class="panel-title">IQ - Team </h3>
                    </div>
                    <div class="panel-body">
                        <span class="price"><sup>$ </sup>99<sup>00</sup></span>
                        <span class="period">Per Month/Per User</span>
                        <hr />
                        <span class="price"><sup>$ </sup>29<sup>00</sup></span>
                        <span class="period">Per Week/Per User</span>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item lgi-custom price-info">Recruiter/Small Office</li>
                        <li class="list-group-item lgi-custom price-info">Team Reporting</li>
                        <li class="list-group-item lgi-custom price-info"><strong>Unlimited</strong> Instant Quotes</li>
                        <li class="list-group-item lgi-custom price-info"><strong>Unlimited</strong> Programs</li>
                        <li class="list-group-item lgi-custom price-info"><strong>Unlimited</strong> Processors</li>
                        <li class="list-group-item lgi-custom price-info">Instant IC Breakdown</li>
                        <li class="list-group-item lgi-custom price-info">Business Type Analysis</li>
                        <li class="list-group-item lgi-custom price-info"><%= link_to("Contact Us", new_internal_contact_path, :class => 'btn btn-primary') %>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-primary text-center bold">
                    <div class="panel-heading">
                        <h3 class="panel-title">IQ - ISO</h3>
                    </div>
                    <div class="panel-body">
                        <span class="price"><sup>$ </sup>129<sup>00</sup></span>
                        <span class="period">Per Month/Per User</span>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item lgi-custom price-info">ISO/Registered Brand</li>
                        <li class="list-group-item lgi-custom price-info"><strong>5</strong><i class="fa fa-plus pricing-fa" aria-hidden="true"></i> Users</li>
                        <li class="list-group-item lgi-custom price-info">Team Reporting</li>
                        <li class="list-group-item lgi-custom price-info">Custom Web App</li>
                        <li class="list-group-item lgi-custom price-info">Custom Full Stack Website</li>
                        <li class="list-group-item lgi-custom price-info"><strong>Unlimited</strong> Instant Quotes</li>
                        <li class="list-group-item lgi-custom price-info"><strong>Unlimited</strong> Programs</li>
                        <li class="list-group-item lgi-custom price-info"><strong>Unlimited</strong> Processors</li>
                        <li class="list-group-item lgi-custom price-info">Instant IC Breakdown</li>
                        <li class="list-group-item lgi-custom price-info">Business Type Analysis</li>
                        <li class="list-group-item lgi-custom price-info">  <%= link_to("Contact Us", new_internal_contact_path, :class => 'btn btn-primary') %>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <hr>



    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
