<div class="container-fluid">
  <br><br>
  <h2 class="text-center">Billing Information:</h2>
  <div class="col-sm-10 col-sm-offset-3 col-md-8 col-md-offset-3">
    <div class="well welly welly-lg">
    <div>
      Customer Name: <%= "#{current_user.first_name}" + " " + "#{current_user.last_name}" %>
    </div>

    <div>
      Customer Phone: <%= "#{current_user.phone_number}" %>
    </div>

    <div>
      Customer Email: <%= "#{current_user.email}" %>
    </div>
    <br><br>

    <%= form_tag subscription_path, id: "payment-form" do %>
      <span class="payment-errors"></span>

      <div class="field">
        <label>
          <span>Card Number</span>
          <input type="text" size="20" data-stripe="number" class="form-controll">
        </label>
      </div>

      <div class="field">
        <label>
          <span>Expiration (MM/YY)</span>
          <input type="text" size="2" data-stripe="exp_month" class="form-controll">
        </label>
        <span> / </span>
        <input type="text" size="2" data-stripe="exp_year" class="form-controll">
      </div>

      <div class="form-row">
        <label>
          <span>CVC</span>
          <input type="text" size="4" data-stripe="cvc">
        </label>
      </div>


      <input type="submit" class="submit" value="Submit Payment">
    <% end %>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://js.stripe.com/v2/"></script>

<script type="text/javascript">
  Stripe.setPublishableKey($("meta[name='stripe-key']").attr("content"))

	$(function() {
	  var $form = $('#payment-form');
	  $form.submit(function(event) {
	    // Disable the submit button to prevent repeated clicks:
	    $form.find('.submit').prop('disabled', true);

	    // Request a token from Stripe:
	    Stripe.card.createToken($form, stripeResponseHandler);

	    // Prevent the form from being submitted:
	    return false;
	  });
	});

function stripeResponseHandler(status, response) {
  // Grab the form:
  var $form = $('#payment-form');

  if (response.error) { // Problem!

    // Show the errors on the form:
    $form.find('.payment-errors').text(response.error.message);
    $form.find('.submit').prop('disabled', false); // Re-enable submission

  } else { // Token was created!

    // Get the token ID:
    var token = response.id;

    // Insert the token ID into the form so it gets submitted to the server:
    $form.append($('<input type="hidden" name="stripeToken">').val(token));

    // Submit the form:
    $form.get(0).submit();
  }
};


</script>