<br><br>

<div class="container">
<center>
<div class="well">
<h1 class="lesson-title">
  <%= @lesson.title %><br><b><%= @lesson.minutes %></b> Minutes
</h1><hr>

  <%= @lesson.video.html_safe %>

</div>
</center>
</div>