<%= form_tag subscriber_path(1), method: :put do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>

  </article>
  <div class="col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
      <div class="panel panel-primary text-center bold">
          <div class="panel-heading">
              <h3 class="panel-title">IQ</h3>
          </div>
          <div class="panel-body">
              <span class="price"><sup>$ </sup>99<sup>00</sup></span>
              <span class="period">Per Month</span>
          </div>
          <ul class="list-group">
              <li class="list-group-item lgi-custom price-info">Individual Sales Professional</li>
              <li class="list-group-item lgi-custom price-info"><strong>Unlimited</strong> Instant Quotes</li>
              <li class="list-group-item lgi-custom price-info"><strong>Unlimited</strong> Programs</li>
              <li class="list-group-item lgi-custom price-info"><strong>Unlimited</strong> Processors</li>
              <li class="list-group-item lgi-custom price-info">Instant IC Breakdown</li>
              <li class="list-group-item lgi-custom price-info">Business Type Analysis</li>
              <li class="list-group-item lgi-custom price-info"><script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                      data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                      data-description="$99 per Month - No Contract"
                      data-amount="9900"
                      data-name="10 Day Trial"
                      data-locale="auto"
                      data-label="Start Trial"
                      data-panel-label="Start Trial"></script>
              </li>
          </ul>
      </div>
  </div>

<% end %>
