/* Sets Background Color */
body {
	background-color: #f2f2f2 !important;
}

/* Floating Action Button Styles */
.fab-btn {
	border-radius: 50px !important;
	-ms-transform: scale(2, 3); /* IE 9 */
    -webkit-transform: scale(2, 3); /* Safari */
    transform: scale(1, 1);
    height: 50px;
    width: 50px;
    float: right;
    position: fixed;
    bottom: 10px;
    right: 10px;
    box-shadow: 0px 0px 5px 3px #BFBFBF !important;
}

#fab-btn-glyph {
	padding-top:10px !important;
}

/* Search Bar On Prospects Index Page Styles */
.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

/* Navbar Styles */
.nav-custom-styles {
	background-color: #337AB7 !important;
	border-bottom: white !important;
}

.a-tag-for-navbar-links {
	color: white !important;
}

.no-outline, .no-outline:hover {
	border: none !important;
	background: transparent !important;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #337AB7 !important;
}








.programs-hr {
    border-color: #999999;
}