/* Sets Background Color */
    body {
    	background-color: #f2f2f2 !important;
    }

    .alert-info { margin: 0px;}


// Main Color Var
  $main-color: #002D64;
  .btn-primary { background-color: $main-color; border: $main-color; }
  .panel-primary .panel-heading { background-color: $main-color !important;}
  .panel-primary { border: 1px solid $main-color;}
  .total { background-color: $main-color !important; }

/* Floating Action Button Styles */
    .fab-btn {
    	border-radius: 50px !important;
        height: 50px;
        width: 50px;
        float: right;
        position: fixed;
        bottom: 10px;
        right: 10px;
        box-shadow: 0px 0px 5px 3px #BFBFBF !important;
    }

    .fab-plus { margin-top: 12px !important; margin-right: 1px;}


/* Search Bar Styles */
    .stylish-input-group .input-group-addon{
        background: white !important;
    }
    .stylish-input-group .form-control{
    	border-right:0;
    	box-shadow:0 0 0;
    	border-color:#ccc;
    }
    .stylish-input-group button{
        border:0;
        background:transparent;
    }

/* Navbar Styles */
    .nav-custom-styles {
    	background-color: $main-color !important;
    	border-bottom: white !important;
        margin-bottom: 0px !important;
    }

    .a-tag-for-navbar-links {
    	color: white !important;
    }

    .no-outline, .no-outline:hover {
    	border: none !important;
    	background: transparent !important;
    }

    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
        border-color: $main-color !important;
    }

    .dropdown-toggle {
        background: transparent !important;
    }

    .nav-font { font-size: 15px !important;}

    .logo { height: 40px; margin-top: 5px; padding-left: 5px !important;}

/* Styles For 'hr' In The Programs Panel */
    .programs-hr {
        border-color: #999999;
    }

/* Sets The Size Of The Form For The Body When You Create A New Blog */

    .form-size {
        height: 500px !important;
        width: 50% !important;
    }

/* Sets The Font Awesome Icon Size On The About Page */

    .big-icon {
        font-size: 50px;
    }

/* Sets The Height Of The Social Media Boxes On The About Page */

    .thumb-height { height: 190.8px; }

/* Sets The Margins For The Header On The Top Of The Blogs Show Page */

    .no-margin { margin-top: 5px !important; }

    .margin-right { margin-right : 5px !important; }

/* Makes The Text Areas Not Resizable */

    textarea { resize: none; }

    /* Styles The HR Tag In The Comments */

hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/* Formats Text */

.black { color: black !important; }

.grey { color: #8c8c8c !important; }

.white { color: white !important; }

.break { word-break: break-all !important; }

.green, .green:hover { color: #04ba00;}

.red, .red:hover { color: #fa0c0c;}

.bold { font-weight: bold; }

.price-info { font-size: 20px !important; }

/* Styles For The Prospects Modal */

.no-margin-bottom { margin-bottom: 0px !important; }

.no-padding { padding: 0px !important; }

.clickme { cursor: pointer !important; }

.be-gone { margin: 0px !important; margin-top: 8px !important; margin-right: 5px !important; }

/* Formatting For Prospects Notes And Actions */

#left {
    position: absolute;
    bottom: 0;
    left: 0;
    overflow-y: scroll;
    width: 50%;
    padding-right: 15px !important;
    height:100%;
    padding-top: 80px !important;
}

#right {
    position: absolute;
    bottom: 0;
    right: 0;
    overflow-y: scroll;
    width: 50%;
    padding-right: 15px !important;
    height:100%;
}

.notes_title { margin: 0px !important;  margin-bottom: 5px !important; }

.notes-margin { padding-top: 5px !important; }

.next-task-well { padding-top: 10px !important; padding-bottom: 0px !important; }

.delete-btn-action { margin-top: 1px !important; }

.action-dateselect-top { margin-top: 10px !important; padding-right: 0px !important; }

.action-submit-top { margin-top: 10px !important; padding-left: 0px !important;}

.margin-bottom-actions { margin-bottom: 20px !important; }

.no-margin { margin: 0px !important; }

.margin-top-edit-prospect-btns {margin-top: 15px !important; }

.cta { margin-top: 5px !important;}

/* Forms */

.small-margin { margin-bottom: 5px !important; }

.xs-padding-remember { margin-top: 10px !important;}

.pricing-fa { font-size: 8px;}

.lgi-custom { font-size: 12px;}


// Makes Checkboxes Look Pretty

.checkbox label:after,
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}


// table

.cust-marg { padding: 30px !important; }

.bold-line { border-bottom: 3px solid #9F9F9F}

.bold-font { font-weight: bold; }

.welly { max-width: 60%; }

@media screen and (max-width: 768px) {
  .welly { max-width: 100%;}
}

.welly-lg { margin-left: 50px;}

.welly-sm { margin-left: 0px;}


@media screen and (max-width: 450px) {
  .cta-font-size { font-size: 12px !important;}
}
@media screen and (max-width: 372px) {
  .cta-font-size { font-size: 10px !important;}
}

.pricing-top-margin { margin-top: 15px !important;}

.fixed-width-td { width: 100px !important; }

@media screen and (max-width: 451px) {
  .custom-font-size-state { font-size: 13px !important;}
}
