/* Sets Background Color */
    body {
    	background-color: #f2f2f2 !important;
    }

/* Floating Action Button Styles */
    .fab-btn {
    	border-radius: 50px !important;
        height: 50px;
        width: 50px;
        float: right;
        position: fixed;
        bottom: 10px;
        right: 10px;
        box-shadow: 0px 0px 5px 3px #BFBFBF !important;
    }

    .fa-plus { margin-top: 12px !important; }


/* Search Bar Styles */
    .stylish-input-group .input-group-addon{
        background: white !important; 
    }
    .stylish-input-group .form-control{
    	border-right:0; 
    	box-shadow:0 0 0; 
    	border-color:#ccc;
    }
    .stylish-input-group button{
        border:0;
        background:transparent;
    }

/* Navbar Styles */
    .nav-custom-styles {
    	background-color: #337AB7 !important;
    	border-bottom: white !important;
        margin-bottom: 0px !important;
    }

    .a-tag-for-navbar-links {
    	color: white !important;
    }

    .no-outline, .no-outline:hover {
    	border: none !important;
    	background: transparent !important;
    }

    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
        border-color: #337AB7 !important;
    }

    .dropdown-toggle {
        background: transparent !important;
    }

/* Styles For 'hr' In The Programs Panel */
    .programs-hr {
        border-color: #999999;
    }

/* Sets The Size Of The Form For The Body When You Create A New Blog */

    .form-size {
        height: 500px !important;
        width: 50% !important;
    }

/* Sets The Font Awesome Icon Size On The About Page */

    .big-icon {
        font-size: 50px;
    }

/* Sets The Height Of The Social Media Boxes On The About Page */

    .thumb-height { height: 190.8px; }

/* Sets The Margins For The Header On The Top Of The Blogs Show Page */

    .no-margin { margin-top: 5px !important; }

    .margin-right { margin-right : 5px !important; }

/* Makes The Text Areas Not Resizable */

    textarea { resize: none; }

    /* Styles The HR Tag In The Comments */

hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/* Makes Text Black */

.black { color: black; }

/* Styles For The Prospects Modal */

.no-margin-bottom { margin-bottom: 0px !important; }

.no-padding { padding: 0px !important; }

.clickme { cursor: pointer !important; }

.be-gone { margin: 0px !important; margin-top: 8px !important; margin-right: 5px !important; }

/* Formatting For Prospects Notes */
  
#right {
    position: absolute;
    bottom: 0;
    right: 0;
    overflow-y: scroll;
    width: 50%;
}

#right {
  height:100%;
}

.notes_title { margin: 0px !important;  margin-bottom: 5px !important; }

.notes-margin { padding-top: 5px !important; }