.text-box {
	height: 30px;
}

.form-background {
	background: #53668C;
	height: 260px;
	width: 208px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}

.new-div {
	background: #53668C;
	width: 208px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
}

.new-div-h1 {
	padding-top: 10px;
	color: white;
}

.text {
	color: white;
	text-transform: capitalize;
}

.form-background2 {
	background: #53668C;
	height: 420px;
	width: 230px;
	padding: 10px;
	padding-top: 0px;
}

.field {
	padding: 10px;
	padding-left: 0px;
	width: 100%;
}

.actions {
	padding-top: 10px;
}

.new-div2 {
	background: #53668C;
	width: 230px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
}

#search-box {
	height: 40px;
	font-size: 15px;
}

.form-background-quote {
	background: #53668C;
	height: 820px;
	width: 208px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}

.bigtext {
	font-size: 20px;
	color: white;
}

.field2 {
	padding: 10px;
	padding-left: 0px;
}

.form-background-quote-created {
	background: #53668C;
	height: 1230px;
	width: 290px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}

.text-box2 {
	height: 30px;
	width: 200px;
}

.form-background-compare {
	background: #53668C;
	height: 5750px;
	width: 400px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}