<%= form_for(@image) do |f| %>
  <div class="field">
    <%= f.file_field :file, :required => true %>
  </div><br>
  <div class="actions">
    	<button class="btn btn-primary">Submit</button>
  </div>
<% end %>